
@import '../../app/variables';
@import '../../app/mixins';

.menu {
    
    @include respond-to('small') {
        bottom: 0;
        z-index: 2;
        position: fixed;

        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
                
    }
    @include respond-to('medium') {
        bottom: 0;
        z-index: 2;
        position: fixed;

        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }


}
.containerMenu  {
    
    width: 100%;
    height: 46px;
    background: #178435 ;
    border-bottom: 13px solid;
    border-bottom-color:  #01461D;

    
    @include respond-to('small') {
        
        z-index: 1;
        bottom: 0;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 28px;
                
    }
    @include respond-to('medium') {
        z-index: 1;
        bottom: 0;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 28px;
    }
}
.iconHamburger {
    
    @include respond-to('small') {
        background-color: transparent !important;  
    }
    @include respond-to('medium') {
        background-color: transparent !important;
    }
}
.menuIcon {
    
    @include respond-to('small') {
        object-fit: contain;
    }
    @include respond-to('medium') {
        object-fit: contain;
    }
}

.buttonx {
    
    
    @include respond-to('small') {
        grid-column:span;
        border: none;
        width: 20px !important;
        height: 20px !important;
    }
    @include respond-to('medium') {
        grid-column:span;
        border: none;
        width: 20px !important;
        height: 20px !important;
    }    
}

 
 