
.container{
    width: 1024px;
    height: 624px;
}
.svgimage{
    margin-top: 10px;
    margin-left: 600px;
    margin-right: 500px;
}
.button{
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    width: 282px;
    height: 49px;
    border-radius: 25px;
    background: var(--2, #4A8345);
}