
.container{
    width: 64rem;
    height: 39rem;
}
.svgimage{
    width: 5.813rem;
    height: 5.5rem;
    margin-top: 0.625rem;
    margin-left: 37.5rem;
    margin-right: 31.25rem;
}
.button{
    margin-top: 12.5;
    margin-left: 31.25rem;
    margin-right: 31.25rem;
    width: 17.625rem;
    height: 3.063rem;
    border-radius: 1.563rem;
    background: var(--2, #4A8345);
}