
.title{
    color: #01461D;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.descrip{
    text-align: center;
    color: #666666
    ;
}
.volumen{
    color: var(--1, #01461D);
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;    
}