
.container{
  width: 1349px;
  height: 100%;
}
.formu{
	width:auto;
	padding:16px;
	border-radius:10px;
	//  
	background-color:#FFF;
}

.labels{
	width:80px;
  color: #000;
  margin-left: 133px;
	font-weight:bold;
	display:inline-block;
}
.labels1{
	width:100px;
  color: #000;
  margin-left: 133px;
	font-weight:bold;
	display:inline-block;
}

.formu .inputs2{
	width:352px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#D9D9D9;
	margin:8px 0;
	display:inline-block;
}

.formu .inputs[type="text"],
.formu .inputs[type="email"]{
	width:938px;
	padding:3px 10px;
	border:1px solid #D9D9D9;
	border-radius:3px;
	background-color:#D9D9D9;
	margin:8px 0;
	display:inline-block;
}

.formu input[type="submit"]{
	width:467px;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:25px;
	display:block;
	color:#fff;
	background: var(--2, #493c92);
} 
.formu .inputs3[type="submit"]{
	width:329px;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:25px;
	display:block;
	color:#fff;
	background: var(--2, #4A8345);
}
.formu .inputs1[type="submit"]{
	width:467px;
	padding:8px 16px;
	margin-top:32px;
  margin-left: 400px;
	border:1px solid #000;
	display:block;
	color:#fff;
	border-radius: 25px;  
background: var(--2, #4A8345);;
}

.form input[type="submit"]:hover{
	cursor:pointer;
}
.sepa{
  display: flex;
}
.sepas{
  margin-left: 230px;
}
.sepaIcon{
  margin-left: 150px;
}
.title{
  color: #01461D;
  margin-left: 390px;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}