@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
    background-color: rgb(176, 127, 255);
}

.title{
    color: #01461D;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.descrip{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.volumen{
    color: var(--1, #01461D);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;    
}