@import '../../app/variables';
@import '../../app/mixins';

.header {
  
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5rem;
  background-image: url(/assets/img/Rectangle49.png);
  background-size: cover;
  max-width: 100%;
  position: fixed;
  @include respond-to('small') {
    
  }

  @include respond-to('medium') {
    
  }

}

.text {
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

