@import '../../app/variables';
@import '../../app/mixins';


.rectangle1 {
    
    @include respond-to('small') {
        color: white;
        width: 100%;
        height: 50px;
        background-color: rgb(23, 132, 53);
        display: flex;
        flex-flow: wrap;
        border-bottom: 10px solid rgb(1, 70, 29);
        align-items: center;
        justify-content: space-between;
    }
    @include respond-to('medium') {
        color: white;
        width: 100%;
        height: 50px;
        background-color: rgb(23, 132, 53);
        display: flex;
        flex-flow: wrap;
        border-bottom: 10px solid rgb(1, 70, 29);
        align-items: center;
        justify-content: space-between;
    }
}
.rectangle2{
    
    @include respond-to('small') {
        height: 40px;
        margin-top: -3px; 
        background-color: rgb(255, 255, 255);
        border-radius: 0% 2rem 2rem 0%;
        padding-right: 1rem;
    }
    @include respond-to('medium') {
        height: 40px;
        margin-top: -3px; 
        background-color: rgb(255, 255, 255);
        border-radius: 0% 2rem 2rem 0%;
        padding-right: 1rem;
    }
}
.icon{
    margin: 8px;
    height: 25px;
    justify-content: space-evenly;

}



