/* Header.module.css */
@import '../../app/variables';
@import '../../app/mixins';



.carousel_image {
  width: 100%;
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;

  color:rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: Roboto;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
  }
  @include respond-to('small') {
    margin: 0;
                
  }
  @include respond-to('medium') {
       
  }
}

.button_one {      
    background-color:transparent;  
    border: solid;
    border-color: 1px rgba(255, 255, 255, 1);
    color:rgba(255, 255, 255, 1);
    padding: 5px;
    
    @include respond-to('small') {
      font-size: 15px;
      //font-family: Roboto;
      margin-bottom: 12%;

        
    }
    @include respond-to('medium') {

    }
}

.button_two {
  background-color:rgba(1, 70, 29, 1);
  border-color: 1px rgba(1, 70, 29, 1) ;
  padding: 5px;
  color:rgba(255, 255, 255, 1);
    @include respond-to('small') {
      font-size: 15px;
      //font-family: Roboto;
      margin-bottom: 12%;
        /*display: flex;*/

    }
    @include respond-to('medium') {

    }
}

.carrucelCap {
    
    
  @include respond-to('small') {
    //margin-top: 100px;
    margin-bottom: 8px;
  }
  @include respond-to('medium') {
    margin-bottom: 8px;
  }
}