@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); 

  // Define variables para las fuentes
  $fontInter: 'Inter', sans-serif;
  $fontMontserrat: 'Montserrat', sans-serif;
  $Roboto: 'Roboto', sans-serif;
  
  // Estilos para .article-recent
  .artirecent {
    color: #01461D;
    font-family: $fontMontserrat;
    font-size: 2.25rem; 
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }

  .article-recent{
    color: #01461D;
    font-family: $Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 139.687%; /* 44.7px */
    text-transform: uppercase;  
  }
  .article-date{
    color: #6c757d;
    font-family: $fontInter;
    font-size: 1rem; 
    font-style: normal;
    font-weight: 275;
    line-height: 1.36; 
  }
  .article-title{
    color: #000000;
    font-family: $fontMontserrat;
    font-size: 2rem; 
    font-style: normal;
    font-weight: 800;
    line-height: 1.39687; 
    text-transform: uppercase;
  }
  .article-content{
    color: #000;
    font-family: $fontInter;
    font-size: 1.5rem; 
    font-style: normal;
    font-weight: 300;
    line-height: 1.36; 
  }
  .article-author{
    color: #6c757d;
    font-family: $fontInter;
    font-size: 1rem; 
    font-style: normal;
    font-weight: 275;
    line-height: 1.36; 
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown .dropdown-menu {
      position: absolute;
      bottom: 100%;
      display: none;
      margin: -9px;
      list-style: none;
      width: 100%;
      padding: 0;
  }
  .dropdown:hover .dropdown-menu {
      display: block;
  }
  .dropdown button {
      color: #FFFFFF;
      border: none;
      margin: 0;
      padding: 0em 0em;
      font-size: 1em;
  }
  .dropdown a {
      display: block;
  }